body{
	font-family: 'Open Sans', sans-serif;
}

h1{
	/* cushmachine: */
	font-family: 'Open Sans', serif;
	font-size: 48px;
	font-weight: lighter;
	text-align: center;
}

h2{
	/* Tagline: */
	font-size: 24px;
	line-height: 12px;
	text-align: center;
}

a{
	/* Link: */
	font-size: 18px;
}

body > .wrap{
	display: table;
	width: 430px;
	height:80%;
	margin: auto;
}

body > .wrap > .content{
	display: table-cell;
	vertical-align: middle;

}

#header{

}

#cover-photo{

}