body{
	font-family: 'Open Sans', sans-serif;
}

h1{
	/* cushmachine: */
	font-family: 'Libre Baskerville', serif;
	font-size: 48px;
}

h2{
	/* Tagline: */
	font-size: 18px;
}

a{
	/* Link: */
	font-size: 18px;
}

body > .wrap{
	display: table;
	width: 430px;
	height:80%;
	margin: auto;
}

.content{

}

#header{

}

#cover-photo{

}